<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ekyc.sdk">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <queries>
        <package android:name="com.mantra.rdservice" />
        <package android:name="com.scl.rdservice" />
        <package android:name="com.acpl.registersdk" />
        <package android:name="com.secugen.rdservice" />
        <package android:name="com.tatvik.bio.tmf20" />
        <package android:name="com.precision.pb510.rdservice" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="m">
<!--        <activity android:name=".KYCDetails.EKYC"></activity>-->
        <activity
            android:name=".KYCDetails.DocumentKYC"
            android:label="Document Verification" />
        <activity
            android:name=".KYCDetails.BiomatricVerification"
            android:label="Biometric Verification" />
        <activity
            android:name=".KYCDetails.OTPVerify"
            android:label="Update KYC" />

<!--        <activity-->
<!--            android:name=".KYCDetails.EKYC"-->
<!--            android:label="@string/app_name"-->
<!--            android:exported="true"-->
<!--            android:theme="@style/AppTheme.NoActionBar">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <activity android:name=".KYCDetails.EKYC"/>
    </application>

</manifest>